[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = "*"
python-environ = "*"
redis = "*"
rq-win = {git = "git+https://github.com/michaelbrooks/rq-win.git#egg=rq-win"}
rq = "*"
websockets = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.11"
